@model MvcLibrary.Models.Entity.TBLAUTHOR
@{
    ViewBag.Title = "ReturnAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateAuthor", "Author", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            @Html.HiddenFor(a => a.ID)
        </div>
        <div style="margin-bottom:15px">
            @Html.LabelFor(a => a.Name)
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            @Html.LabelFor(a => a.LastName)
            @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            @Html.LabelFor(a => a.Detail)
            @Html.TextAreaFor(a => a.Detail, new { @class = "form-control" })
        </div>
    </div>
    <div>
        <button class="btn btn-warning">Update</button>
    </div>
}
