@model MvcLibrary.Models.Entity.TBLAnnouncements
@{
    ViewBag.Title = "MemberAnnouncementsContents";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewBag.id</h2>
@using (Html.BeginForm("AnnouncementsContents", "Announcements", FormMethod.Get))
{
    @Html.HiddenFor(a => a.ID)
    <div></div>
    <div style="margin-bottom:15px" class="form-group">
        @Html.LabelFor(a => a.Category)
        @Html.TextBoxFor(a => a.Category, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-bottom:15px" class="form-group">
        @Html.LabelFor(a => a.Content)
        @Html.TextAreaFor(a => a.Content, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div>
        <a href="/Announcements/MemberAnnouncements/" class="btn btn-primary">Return Back</a>
    </div>
}

