@model MvcLibrary.Models.Entity.TBLPROCESS
@{
    ViewBag.Title = "toLend";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>toLend</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Member Name</label>
        @Html.DropDownListFor(p => p.TBLMEMBERS.ID, (List<SelectListItem>)ViewBag.value2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Book Name</label>
        @Html.DropDownListFor(p => p.TBLBOOK.ID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Employee Name</label>
        @Html.DropDownListFor(p => p.TBLEMPLOYEE.ID, (List<SelectListItem>)ViewBag.value3, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Book LendDate</label>
        <input type="text" class="form-control" name="DATEOFPURCHASE" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label>Book ReturnDate</label>
        <input type="text" class="form-control" name="RETURNDATE" value="@DateTime.Now.AddDays(14).ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-group" style="background-color:#a330b5; color:white">Lend The Book</button>
    </div>
</form>